*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}

.cols{
    border: 1px solid yellowgreen;
}

#content img{
    width: 130px;
    height: 200px;
}

@media only screen and (max-width: 720px) {
    
    
    h2{
        font-size: 1.5rem;
       
    }

    #content{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }
  }